footer {
  width: 100%;
  margin-top: 0em;
  /* position: absolute; */
  /* bottom: 0em; */
  /* height: auto; */
  background-color: #424242;
  color: #e8e8e8;
  padding: 0.5em;
}

footer a {
  color: #e8e8e8;
  border-bottom: 1px dashed;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  border-bottom: 1px dashed;
} 