// Header styles

.site-header {
  .social-icons {
    float: left;
    margin-right: 20px;
    padding-top: 2px;
    display: none;  // Hide by default
    
    a {
      color: var(--global-text-color);
      margin-right: 15px;
      font-size: 1.5rem;  // Adjust icon size
      transition: color 0.3s ease;
      
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

// Social icons styles
.social-icons {
  .fas, .fab, .far, .ai {
    font-size: 1.5rem;  // Adjust icon size
    line-height: 1;
  }
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
  }
}

// Only show icons on About page
body.about {
  .site-header .social-icons {
    display: block;
  }
} 