{% for content in entry.contents %}
  <div class="list-title">{{ content.title }}</div>
  {% if content.items %}
    <ul class="subitems">
      {% for item in content.items %}
        <li><span class="subitem">{{ item }}</span></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
