{% for item in entry.contents %}
  {% if item.title %}
    <div class="list-title">{{ item.title }}</div>
  {% endif %}
  {% if item.items %}
    <ul class="items">
      {% for subitem in item.items %}
        <li><span class="item">{{ subitem }}</span></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
